# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Production build
dist/
build/

# Local environment variables
.env
.env.local

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
